# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build Output
dist/
build/
*.crx
*.zip

# Local Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Logs & Debugging
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor Metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace

# Testing & Coverage
coverage/
.nyc_output/
*.lcov

# TypeScript Build Info Cache
*.tsbuildinfo
.eslintcache
